.personas{
    background: var(--celeste);
}

.title{
    color: var(--blanco);
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 3rem;
    font-weight: 300;
    font-size: 5rem;
}