/* Estilos comunes */
.subMenu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 2rem 2.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

.link:hover {
    color: var(--azul);
    background: var(--blanco);
    transition: 0.5s ease;
}

.link.activeLink {
    color: var(--azul);
    background: var(--blanco);
    padding: 1rem 2rem 2.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

.barns {
    display: none;
}

/* Estilos para pantallas grandes */
@media screen and (max-width: 1200px) {
    .link {
        font-size: 15px;
    }
    .subMenu {
        justify-content: left;
    }

    .link {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    .link.activeLink {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        font-size: 15px;
    }

}



/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .barns {
        display: block;
        background: var(--azul);
        color: var(--blanco);
        position: absolute;
        right: 20px;
        bottom: -55px;
        padding: 5px;
        border-radius: 50%;
        font-size: 25px;
        cursor: pointer;
    }

    .subMenuBox {
        width: 100%;
        position: absolute;
        top: 70px;
        display: none; /* Inicialmente oculto */
        background: var(--azul);
        transition: display 0.3s ease-in-out;
    }

    .subMenu {
        flex-direction: column;
        gap: 0.5rem;
        height: auto;
        width: 100%;
        align-items: start;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0;
    }

    .menuVisible {
        display: block; /* Mostrar menú cuando esté abierto */
    }

    .menuHidden {
        display: none; /* Ocultar menú cuando esté cerrado */
    }

    .link {
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 15px;
    }

    .link.activeLink {
        padding: 0.5rem;
        font-size: 15px;
    }
}
