.hogarTitle{
    background: var(--verde);
}

.hogarTitle h2{
    color: var(--blanco);
    font-size: 35px;
    text-transform: uppercase;
}

.buttonCotizar .buttonClass{
    border: solid 1px var(--celeste);
}

.buttonCotizar .Text{
    color: var(--azul);
}

.buttonCotizar .Text:hover{
    color: var(--celeste);
}